*.csv filter=lfs diff=lfs merge=lfs -text
artifacts/train.csv filter=lfs diff=lfs merge=lfs -text
data/creditcard.csv filter=lfs diff=lfs merge=lfs -text
artifacts/data.csv filter=lfs diff=lfs merge=lfs -text
